---
layout: archive
author_profile: true
---

This is the personal blog of Sean Hackett. I am writing a series of posts applying data science to genomics and Mixed Martial Arts. More recent posts related to MMA authored by myself and others can be found on <a href="http://www.FightPrior.com">FightPrior.com</a>.

{% include base_path %}

<h3 class="archive__subtitle">Recent Posts</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}