{% if post.header.teaser_archive %}
  {% assign teaser = post.header.teaser_archive %}
{% elsif post.header.teaser %}
  {% assign teaser = post.header.teaser %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork"{% if post.locale %} lang="{{ post.locale }}"{% endif %}>
    {% if teaser and include.type == "grid" %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
    <h2 class="archive__item-title no_toc" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    {% include page__meta.html type=include.type %}
    {% if post.excerpt %}
      <div class="archive__item-excerpt" itemprop="description">
        {% if include.type != "grid" and post.content contains '<!--more-->' %}
          {{ post.excerpt }}
        {% else %}
          {{ post.excerpt | strip_html | truncate: 160 }}
        {% endif %}
      </div>
    {% endif %}
    {% if teaser and include.type != "grid" and post.header.teaser_archive %}
      <div class="archive__item-teaser archive__item-teaser--bottom">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
  </article>
</div>