/* Colors (Replicate Old Site) */
$body-background-color: #f0f8ff; /* Light Blue Background */
$text-color: #333; /* Dark Gray Text */
$light-contrast: #f5f5f5;
$link-color: #007bff; /* Default Blue Link */
$light-green: #52C518; /* Light Gray Masthead */
$calico-green: #30BC5B; /* Calico green (not used now) */
$sidebar-background-color: #f5f5f5; /* Lighter Gray Sidebar */

/* Masthead */
.masthead {
    background-color: $light-green;
    padding: 0.5rem 0; /* Adjust padding as needed */
    
    .site-title {
        color: $light-contrast;
    }
}

#site-nav {
    background-color: $light-green;
    img {  
        background-color:$light-green;
    }

    a {
        color: $light-contrast;
    }
}

/* header image (mushroom themed) */
.page__hero {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden; /* Prevent overflow */
  }

.page__hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

#footer {
    background-color: $light-green;
    padding: 1rem 0; /* Adjust padding as needed */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Link Styles (Example) */
a {
    color: $light-green;
    text-decoration: none; /* Remove underline */
    &:hover {
        text-decoration: underline; /* Add underline on hover */
    }
}

.no_toc a {
    &:link {
        color: $light-green;
    }
    &:visited {
        color: $light-green;
    }
}

/* Rounded Corners and Shadows (Example) */
.btn {
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* table of contents */
.nav__title {
    color: $light-contrast;
    background-color:$light-green;
}

/* Increase space around content below masthead */
.page__content {
    padding: 1rem;
}

.MathJax {  /* Or .mjx-container */
    display: block;  /* Important for inline scaling */
    transform: scale(0.8);  /* Adjust the scaling factor as needed */
    transform-origin: 0% 70%; /* To keep equation aligned on the left */
  }
  
  mjx-container[jax="SVG"] {
    overflow-x: auto; /* Ensure equations do not overflow */
  }

